
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: $color-text;
    padding: 1rem;
    scroll-behavior: smooth !important;
}
 
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    font-weight: 400;

    &--main {
        display: block;
        font-size: 2.8rem;
        letter-spacing: 2.6rem;

        animation: moveInLeft 1s ease-in-out .2s forwards;
        -webkit-animation: moveInLeft 1s ease-in-out .2s forwards;

        @media (max-width:768px){
            font-size: 2rem;
            letter-spacing: 1rem;
        }
    }
    
    &--sub {
        font-size: 1.4rem;
        letter-spacing: .78rem;

        animation: moveInRight 1s ease-in-out .2s forwards;
        -webkit-animation: moveInRight 1s ease-in-out .2s forwards;

        @media (max-width:600px){
            font-size: 1.2rem;
            letter-spacing: .5rem;
        }
    }
}  


.heading-secondary{
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2rem;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-clip: text;
    color: transparent;

    transition: .3s;

    &:hover{
        transform: scale(1.1) skewX(16deg) rotate(1deg); 
        text-shadow: .5rem 1rem 2rem rgba($color-black, .3);
    }
}

.heading-tertiary{
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
   font-size: 1rem;

   &:not(:last-child){
    margin-bottom: 1.8rem;
   }
}

